/* INDEX.HTML */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}

ul {
    list-style:none;
}

/* header */
.link {
    color: var(--title-text-color);
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.address.link {
    color: var(--primary-text-color);
}

.address.link:hover,
.address.link:focus {
    color: var(--accent-color);
}

/* main */
.hero.title {
    color: #FFFFFF;
}

.button {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

.title {
    color: var(--title-text-color);
}

.text {
    color: var(--primary-text-color);
}

/* footer */
.footer.link {
    color: #FFFFFF;
}

.address.footer.link {
    color: rgba(255, 255, 255, 0.6);
}